<section>
    <h1>{{sneaksName}}</h1>
    <div class = "content-block">
        <div class="picture-block" *ngIf="(activatedPicture$|async) as activatedPicture">
            <div class="roll-pic" *ngIf="activatedPicture.pictures as pictures">
                <div class="all-picture-column" >
                    <app-carousel [content]="pictures" (itemHovered)="handleItemHovered($event)"></app-carousel>
                </div>
                
            </div>

            <div id="main-picture-view" >
                <img id="main-img" [src]="'http://localhost:3000/' + hoveredItem" [alt]="activatedPicture.color_name" (mouseover)="zoomMain()">
            </div>
            
        </div>

        <div class="colors-block" *ngIf="(sneakers$|async) as sneakers">
            
            <div [ngClass]="sneaksId === sneaker.color_id ? 'active-color-pictures':'disabled-color-pictures'" *ngFor="let sneaker of sneakers">
                <button class="color-button" (click)="changeColor(sneaker.color_id)" [disabled]="sneaksId === sneaker.color_id">
                    <img class="color-img" [src]="'http://localhost:3000/' + sneaker.main_picture" [alt]="sneaker.color_name">
                </button>    
            </div>
        </div>
    </div>    
</section>
