<section>
    <div class="menu-block">
        <aside class="menu-profile">
            <h2>Account</h2>
            <p>Manage your account info</p>
            <nav>
                <ul class="navigation-list">
                    <li><mat-icon>account_box</mat-icon><a [ngClass]="activeLink==='/profile/profile-details' ? 'active-nav' : 'disable-nav'" [routerLink]="['profile-details']">Profile</a></li>
                    <li><mat-icon>verified_user</mat-icon><a [ngClass]="activeLink==='/profile/security' ? 'active-nav' : 'disable-nav'" [routerLink]="['security']">Security</a></li>
                </ul>
            </nav>
            
        </aside>
        <div class="buttons">
                <button class="logout" (click)="logout()"><mat-icon>exit_to_app</mat-icon>Logout</button>
        </div>
        <div class="separate-profile-line"></div>
    </div>

    <div class="profile-block">
        <router-outlet></router-outlet>
    </div>
    
</section>