.logout{
    position: relative;
    width: 100px;
    padding: 10px;
    margin:0 auto;
    font-size: 20px;
    color:white;
    background: #d3c687;
    border-color:#d3c687;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
}