section{
    display: grid;
    grid-template-areas: 
    "menu profile"
    "menu profile";
    grid-template-columns: auto 1fr;
    height: 100vh;
}

.menu-block {
    grid-area: menu;
    position: relative;
    background-color: #f3f0f0;
    min-height: 100%;
    display: flex;
}

.menu-profile {
    padding: 20px;
}

.menu-profile h2{
    font-style: italic;
    margin: 0px;
    font-size: 26px;
    margin-top: 10px; 
}

.menu-profile p{
    font-style: italic;
    font-size: 16px;
    color: #949292;    
}

a{
    text-decoration: none;
    color:inherit;
}

.navigation-list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.navigation-list li{
    position: relative;
    margin-top: 20px;
    font-size: 22px;
}

.disable-nav:hover{
    cursor: pointer;
    color:#d3c687;
}

.active-nav{
    color:#925239fb;
    cursor:default;
}

mat-icon {
    font-size: 20px;
    height: 20px;
    margin-right: 5px;
}

.separate-profile-line {
    width: 2px;
    min-height: 100%;
    background-color: #ddd6b2;
}

.profile-block{
    grid-area: profile;
}

.buttons{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 20px;
    left: 25%;
}

.logout{
    position: relative;
    margin:0 auto;
    font-size: 20px;
    border: none;
}

.logout:hover {
    cursor: pointer;
    color:#d3c687;
}

.snackbar-error {
    background-color: red;
    color: white;
}

.alert{
    color:red;
    font-size: 0.8rem;
}