.main-section{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 95%;
    border: 2px solid black;
    margin: 0 auto;
    padding: 20px;
}

.lined-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 1.5em;
}

.lined-title::before,
.lined-title::after {
  content: "";
  flex: 1;
  height: 2px;
  background: linear-gradient(to left, transparent, #ccc);
  margin: 0 10px;
}

.lined-title::after {
  background: linear-gradient(to right, transparent, #ccc);
}

.popular {
    min-width: 90%;
    margin-bottom: 50px;
}

.new-model-advertising{
    display:grid;
    gap:20px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}

.adc-new-sneaker{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.adc-new-sneaker img{
    width: 100%;
    height: 100%; 
}