<section class="main-section">
    <h2 class="lined-title">MOST POPULAR MODELS</h2>
    <div class="popular">
        <app-popular [customConfig]="slideConfig"></app-popular>
    </div>
    
    <h2 class="lined-title">NEW MODELS</h2>
    <div class="new-model-advertising" *ngIf="newAddedSneaker$|async as sneakers">
        
        <div class="adc-new-sneaker" *ngFor="let sneaker of sneakers">
            <img [src]="'http://localhost:3000/' + sneaker.main_picture" [alt]="sneaker.name">
            <h4>{{sneaker.name}}, {{sneaker.color_name}}</h4>
        </div>

    </div>
    
</section>  
