<header class="header-container">
    <div class="logo-img">
        <img class="logo" src="assets/logo.png" alt="logo-img">
    </div>
    
    <nav>
        <ul class="navigation-list">
            <li><a [ngClass]="activeLink==='/' ? 'active-nav' : 'disable-nav'" [routerLink]="['']">Main</a></li>
            <li><a [ngClass]="activeLink==='/catalog' ? 'active-nav' : 'disable-nav'" [routerLink]="['catalog']">Сatalog</a></li>
            @if(isAutorized()|async){
                <li><a [ngClass]="activeLink==='/profile' ? 'active-nav' : 'disable-nav'" [routerLink]="['profile']">Profile</a></li>   
                <a class="basket" [routerLink]="['/basket']"><mat-icon>shopping_cart</mat-icon></a>
            } @else {
                <li><a [ngClass]="activeLink==='/signin' ? 'active-nav' : 'disable-nav'" [routerLink]="['signin']">Sign In</a></li>
                <li><a [ngClass]="activeLink==='/signup' ? 'active-nav' : 'disable-nav'" [routerLink]="['signup']">Sign Up</a></li>
            }
            <li *ngIf="(profile|async)?.role ==='admin'"><a [ngClass]="activeLink==='/admin' ? 'active-nav' : 'disable-nav'" [routerLink]="['admin']">Admin</a></li>
        </ul>
    </nav>
</header>
