<section *ngIf="(sneakers$|async) as sneakers"> 
    <div class="search-content">
        <input #inputSearch id="search" type="search" placeholder="What do you want to find out?">
    </div>
    
    <ng-container *ngIf="sneakers.length>1">
        <div class="catalog-listing">
            <div class="sneakers-card" *ngFor="let list of (displayedSneakers$|async); let i = index">
                <img id="selected-image" [src]="'http://localhost:3000/' + list.main_picture" alt="Selected Image" decoding="async">
                <a class="details-button" [routerLink]="['/details',list.color_id]">View More</a>
                @if(isFavorite.getValue()[i]){
                    <button class="favorites" (click)="changeFavorite(i)"><mat-icon class="icon">favorite</mat-icon></button>   
                }@else{
                    <button class="favorites" (click)="changeFavorite(i)"><mat-icon class="icon">favorite_border</mat-icon></button>
                }
                <p>{{list.name}}, {{list.color_name}}</p>
                <p>{{list.price}} $</p>
            </div>
        </div>
        <app-pagination *ngIf="(sneakers.length/18)>1" (paginationCurrPage)="getCurrPage($event)" [inputPaginationSettings]="settings"></app-pagination>
    </ng-container>
    <div class="no-item-block" *ngIf="sneakers.length === 0">
        <h2>Nothing has been found</h2>
    </div>
    
</section>