<div class="catalog-listing">
    <div class="sneakers-card" *ngFor="let list of (sneakers|async); let i = index">
        <img id="selected-image" [src]="'http://localhost:3000/' + list.mainPic" alt="Selected Image" decoding="async">
        @if(isFavorite.getValue()[i]){
            <button class="favorites" (click)="changeFavorite(i)"><mat-icon class="icon">favorite</mat-icon></button>   
        }@else{
            <button class="favorites" (click)="changeFavorite(i)"><mat-icon class="icon">favorite_border</mat-icon></button>
        }
        <p>{{list.name}}, {{list.color}}</p>
        <p>{{list.price}} $</p>
    </div>
</div>