<section>
    <div class="first-adding">

        <mat-form-field class="input-block">
            <mat-label>Name of sneaker:</mat-label>
            <input type="text" matInput [formControl]="sneakName">
        </mat-form-field>

        <form [formGroup]="sneakersAdd"> 
            <button  id="save-button" type="button" mat-raised-button>Create sneaker</button>

                <mat-form-field class="input-block">
                    <mat-label>Color:</mat-label>
                    <input type="text" matInput formControlName="color">
                </mat-form-field>

                <mat-form-field class="input-block">
                    <mat-label>Price:</mat-label>
                    <input type="text" matInput formControlName="price">
                </mat-form-field>

            <div class="picture-adding">

                <div class="picture-block">
                    <h2 >Select main picture</h2>
                    <article class="main-add-block">

                        <button *ngIf="!(mainImageSrc|async)" id="add-button" type="button" mat-raised-button (click)="mainFileInput.click()"><mat-icon>add</mat-icon></button>
                        <input hidden (change)="onMainFileSelected()" #mainFileInput type="file" accept="image/*">
                        <img id="selected-image" *ngIf="mainImageSrc|async" src="{{mainImageSrc|async}}" alt="Selected Image" >
                        <button *ngIf="(mainImageSrc|async)" id="delete-button"  (click)="deleteMainImg()"><mat-icon>close</mat-icon></button>
                    
                    </article>
                </div>

                <div class="picture-block">
                    <h2>Select additional pictures</h2>
                    <article class="add-block" *ngIf="(addImageSrc|async) as images">

                        <div class="little-add-block" *ngFor="let image of (addImageSrc|async); let i = index">
                            <img id="selected-image" src="{{image}}" alt="Selected Image" >
                            <button id="delete-button"  (click)="deleteAddImg(i)"><mat-icon>close</mat-icon></button>
                        </div>

                        <div class="little-add-block" *ngIf="(addImageSrc|async)?.length!==10">
                            <button id="little-add-button" type="button" mat-raised-button (click)="addFileInput.click()"><mat-icon>add</mat-icon></button>
                            <input hidden (change)="onAddFileSelected()" #addFileInput type="file" accept="image/*"> 
                        </div>

                    </article>
                </div>

            </div>
            <button  id="color-button" type="button" mat-raised-button>Add more color</button>
        </form>    
    </div>
</section>
